{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card">
          <div class="card-header bg-secondary text-white text-center">
            <h4>Order Summary</h4>
          </div>

          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Product</th>
                  <th class="text-center">Qty</th>
                  <th class="text-end">Price</th>
                </tr>
              </thead>
              <tbody>
                {% for product in products %}
                
                <tr>
                  <td>{{product.name}}</td>
                  {% for key,value in quantities.items %}
                  {% if key == product.id|slugify %}
                  <td class="text-center">{{value}}</td>
                  {% endif %}
                  {% endfor %}
                  <td class="text-end">{{product.price}} VND</td>
                </tr>
                
                {% endfor %}
              </tbody>

              <tfoot>
                <tr>
                  <td><strong>Subtotal</strong></td>
                  <td></td>
                  <td class="text-end">{{totals}} VND</td>
                </tr>
                <tr>
                  <td><strong>Shipping</strong></td>
                  <td></td>
                  <td class="text-end">0 VND</td>
                </tr>
                <tr>
                  <td><strong>Total</strong></td>
                  <td></td>
                  <td class="text-end"><strong> {{totals}} VND</strong></td>
                </tr>
              </tfoot>
            </table>

            <div class="d-grid gap-2">

              <a href="{% url 'cart_summary' %}" class="btn btn-outline-secondary">Back to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h6>You're almost there! Confirm your address and complete payment to finalize your order.</h6>
          <div class="card">
            <div class="card-header bg-primary text-white text-center">
              <h4>Shipping Information</h4>
            </div>
  
            <div class="card-body">
              <form method="POST" action="{% url 'billing_info' %}">
                {% csrf_token %}
                <div class="mb-3">
                  {{ shipping_form.shipping_full_name }}
                </div>
  
                <div class="mb-3">
                  {{ shipping_form.shipping_email }}
                </div>
  
                <div class="mb-3">
                  {{ shipping_form.shipping_address1 }}
                </div>
                <div class="mb-3">
                    {{ shipping_form.shipping_address2 }}
                  </div>
  
                <div class="row">
                  <div class="col-md-6 mb-3">
                    {{ shipping_form.shipping_city }}
                  </div>
                  <div class="col-md-6 mb-3">
                    {{ shipping_form.shipping_country }}
                  </div>
                </div>
  
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ shipping_form.shipping_ward }}
                      </div>
                      <div class="col-md-6 mb-3">
                        {{ shipping_form.shipping_district }}
                      </div>
                </div>
  
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary">Proceed to Payment</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}