{% extends 'base.html' %}
{% block content %}

<div class="container py-3">
    <h3>Order Dashboard</h3>
    <div class="row ">
<table class="table  table-hover table-responsive">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Order</th>
        <th scope="col">User</th>
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Shipping Adress</th>
        <th scope="col">Amount Paid</th>
        <th scope="col">Date Ordered</th>
        <th scope="col">Shipped</th>
        <th scope="col">Date Delivered</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
{% if orders %}
{% for order in orders %}

    <tbody>
      <tr>
        <th scope="row">#{{order.id}}</th>
        <td>{{order.user}}</td>
        <td>{{order.full_name}}</td>
        <td>{{order.email}}</td>
        <td>{{order.shipping_address}}</td>
        <td>{{order.amount_paid}} VND</td>
        <td>{{order.date_ordered}}</td>
        <td>{{order.shipped}}</td>
        <td>{{order.date_delivered}}</td>
        <td class="text-center">{% if order.shipped %}
            <form method="POST" action="{% url 'handle_order' order.id %}">
                {% csrf_token %}
                <input type="hidden" name="shipping_status" value="false">
                <button type="submit" class="btn btn-danger btn-sm">Mark as Not Shipped</button>
            </form>
            {% else %}
            <form method="POST"  action="{% url 'handle_order' order.id %}">
                {% csrf_token %}
                <input type="hidden" name="shipping_status" value="true">
                <button type="submit" class="btn btn-success btn-sm">Mark as Shipped</button>
            </form>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'order_details' order.id %}" target="_blank">More Info</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% endif %}
  </table>
</div>
</div>


{% endblock %}