{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-5">{{ category.name }}</h1>
    <!-- Product Cards for Detailed View -->
  <div class="row mt-5">
    <!-- Product 1 -->
     {% for product in products %}
    <div class="col-md-4">
      <div class="card">
        <img src="{{ product.image.url }}" class="card-img-top" alt="Product">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <a href="{% url 'product' product.id %}" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}