{% extends 'base.html' %}
{% block content %}
<section id="billboard" class="bg-light py-5">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="section-title text-center mt-4" data-aos="fade-up">Change Password</h1>
        <div class="col-md-6 text-center" data-aos="fade-up" data-aos-delay="300">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptas ut dolorum consequuntur, adipisci
            repellat! Eveniet commodi voluptatem voluptate, eum minima, in suscipit explicabo voluptatibus harum,
            quibusdam ex repellat eaque!</p>
        </div>
      </div>
    </div>
  </section>
<br><br>
  <div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="{% url 'change_password' %}" method="POST">
                {% csrf_token %}
                {{change_password_form.as_p}}
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>
  </div>
{% endblock %}