<nav class="navbar navbar-expand-lg bg-light text-uppercase fs-6 p-3 border-bottom align-items-center">
  <div class="container-fluid">
    <div class="row justify-content-between align-items-center w-100">

      <div class="col-auto">
        <a class="navbar-brand text-white" href="{% url 'home' %}">
          <h3 style="color: black;">TGA</h3>
        </a>
      </div>

      <div class="col-auto">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>

          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 gap-1 gap-md-5 pe-3">
              <li class="nav-item dropdown">
                <a class="nav-link " href="{% url 'home' %}" aria-haspopup="true" aria-expanded="false">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownShop" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Categories</a>
                <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownShop">
                  {% if categories %}
                  <li>
                      <a href="{% url 'all_categories' %}" class="dropdown-item item-anchor">All Categories</a>
                    </li>
                  {% for category in categories %}
                  <li>
                    <a href="{% url 'category' category.name %}" class="dropdown-item item-anchor">{{ category.name }}</a>
                  </li>
                  {% endfor %}
                  {% endif %}
                  
                </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Blog</a>
                </li>
              <!-- {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout_user' %}">Log out</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'update_info' %}">Update Account</a>
                </li>
                {% else %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'register_user' %}">Sign up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login_user' %}">Log in</a>
                </li>
                {% endif %} -->

                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownShop" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Account</a>
                  <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownShop">
                      <li>
                          <a href="{% url 'user_profile' user.id %}" class="dropdown-item item-anchor">Your Profile</a>
                        </li>
                        <div class="dropdown-divider"></div>
                    <li>
                        <a href="{% url 'logout_user' %}" class="dropdown-item item-anchor">Log Out</a>
                      </li>
                    <li>
                      <a href="{% url 'update_info' %}" class="dropdown-item item-anchor">Update Account</a>
                    </li>
                    
                    
                  </ul>
                </li>
                {% else %}
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownShop" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Account</a>
                  <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownShop">
                    <li>
                        <a href="{% url 'login_user' %}" >Log In</a>
                      </li>
                    <li>
                      <a href="{% url 'register_user' %}" class="dropdown-item item-anchor">Sign Up</a>
                    </li>
                    
                    
                  </ul>
                </li> -->
                <li class="nav-item">
                  <a href="{% url 'login_user' %}" >Log In</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'register_user' %}" >Sign Up</a>
                </li>
                {% endif %}

                {% if user.is_authenticated  and user.is_superuser %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownShop" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Admin Panel</a>
                  <ul class="dropdown-menu list-unstyled" aria-labelledby="dropdownShop">
                    <li>
                        <a href="{% url 'order_dashboard' %}" class="dropdown-item item-anchor">Order Dashboard</a>
                      </li>
                    
                    
                  </ul>
                </li>
                {% endif %}
            </ul>
          </div>
        </div>
      </div>

      <div class="col-3 col-lg-auto">
        <ul class="list-unstyled d-flex m-0">
          <li class="d-none d-lg-block">
            <a href="{% url 'wishlist' %}" class="text-uppercase mx-3" id="wishlist_quantity">Wishlist <span class="wishlist-count">({{ wishlist|length }})</span>
            </a>
          </li>
          <li class="d-none d-lg-block">
            <a href="#" class="text-uppercase mx-3" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasCart"
              aria-controls="offcanvasCart">Cart <span class="cart-count" id="cart_quantity">( {{cart|length}} )</span>
            </a>
          </li>
          <li class="d-lg-none">
            <a href="{% url 'wishlist' %}" class="mx-2">
              <svg width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="#heart"></use>
              </svg>
            </a>
          </li>
          <!-- cart -->
          <li class="d-lg-none">
            <a href="#" class="mx-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart"
              aria-controls="offcanvasCart">
              <svg width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="#cart"></use>
              </svg>
            </a>
          </li>

            

          
          <li class="search-box" class="mx-2">
            <a href="#search" class="search-button">
              <svg width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="#search"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

    </div>

  </div>
  
  
</nav>
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasCart" aria-labelledby="My Cart">
  <div class="offcanvas-header justify-content-center">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <div class="order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-primary">Your cart</span>
              <span class="badge bg-primary rounded-pill">{{cart|length}}</span>
          </h4>
          <ul class="list-group mb-3">
            {% if cart_products %}
              {% for product in cart_products %}
              <li class="list-group-item d-flex justify-content-between lh-sm">
                  <div>
                      <h6 class="my-0">{{product.name}}</h6>
                      <small class="text-body-secondary">{{product.description}}</small>
                  </div>
                  <span class="text-body-secondary"> {{product.price}} VND</span>
              </li>
              {% endfor %}
              <li class="list-group-item d-flex justify-content-between">
                  <span>Total (VND)</span>
                  <strong>{{totals}}</strong>
              </li>
              {% else %}
              <li class="list-group-item d-flex justify-content-between">
                <h5>Your cart is empty</h5>
              </li>
              
          </ul>
          {% endif %}
          <button class="w-100 btn btn-primary btn-lg" type="button">Continue to Checkout</button>
          <h6 class="text-center">Or</h6>
          <a href="{% url 'cart_summary' %}">
              <button class="w-100 btn btn-secondary btn-lg" type="button">Open Cart</button>
          </a>
      </div>
  </div>
</div>

<div class="search-popup">
  <div class="search-popup-container">

    <form role="search" method="GET" class="form-group" action="{% url 'search' %}">
      {% csrf_token %}
      <input type="search" id="search-form" class="form-control border-0 border-bottom"
        placeholder="Type and press enter" value="" name="searched_product" />
      <button type="submit" class="search-submit border-0 position-absolute bg-white"
        style="top: 15px;right: 15px;"><svg class="search" width="24" height="24">
          <use xlink:href="#search"></use>
        </svg></button>
    </form>

    <h5 class="cat-list-title">Browse Categories</h5>
    {% if categories %}
    
    <ul class="cat-list">
      {% for category in categories %}
      <li class="cat-list-item">
        <a href="{% url 'category' category.name %}" title="category">{{category.name}}</a>
        {% endfor %}
      </li>
    </ul>
    {% endif %}
    

  </div>
</div>